.wrapper {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 5vh;
  padding-left: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.gallery {
  // background-image: url(../../../../public/moment.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(196, 196, 196, 0.9);
  padding-top: 10vh;
  padding-bottom: 10vh;
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image {
      img {
        width: auto;
        height: 350px;
        margin: 10px;
        @media (max-width: 760px) {
          height: 200px;
          margin: 5px;
        }
      }
    }
  }
}
