.wrapper {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 5vh;
  padding-left: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.home {
  display: flex;
  align-items: center;
  background-image: url(../../../../public/bg.jpg);
  // background-image: url(../../../../public/rose.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  h3 {
    text-transform: uppercase;
    color: #000;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5vh;
    @media (max-width: 760px) {
      font-size: 14px;
    }
  }

  h1 {
    margin-bottom: 10vh;

    @media (max-width: 760px) {
      font-size: 50px;
    }
    @media (min-width: 761px) {
      font-size: 60px;
    }
    @media (min-width: 990px) {
      font-size: 90px;
    }
  }
  @media (max-width: 760px) {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
  }
}
