@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: inherit;
  text-transform: uppercase;
  font-family: Baskervville;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  width: 100%;
  max-width: 2100px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}
