.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal_wrapper.open {
  height: 100%;
  display: block;
}
.modal_wrapper.close {
  height: 0;
  display: none;
}

.modal_header {
  display: flex;
  justify-content: space-between;
}

.modal_body {
  font-size: 14px;
  font-family: Baskerville;
  max-width: 400px;
  margin: auto;
  background: rgb(156, 35, 35);
  margin-top: 5%;
  padding: 30px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  @media (max-width: 760px) {
    max-width: 300px;
    font-size: 10px;
  }
}

.modal_close {
  font-size: 20px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}
.modal_close:hover {
  color: rgb(58, 53, 53);
}
