.contacts {
  background-image: url(../../../../public/rose.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  padding-top: 10vh;
  padding-bottom: 30vh;
}
.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding-right: 5vh;
  padding-left: 5vh;
  text-align: center;
  color: #2b2020;

  p,
  h3 {
    font-weight: 300;
    margin-top: 3vh;
    @media (max-width: 760px) {
      font-size: 16px;
    }
    @media (min-width: 990px) {
      font-size: 20px;
    }
  }
  a {
    color: #000;
  }
}
