.button {
  background-color: rgb(143, 16, 16);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  @media (max-width: 760px) {
    padding: 5px 15px;
    font-size: 13px;
  }
  @media (min-width: 761px) {
    padding: 15px 25px;
    font-size: 16px;
  }

  &:hover {
    background: linear-gradient(57deg, rgb(143, 16, 16), #376e6f);
    background-size: 400% 400%;
    animation: gradient-transition 3s ease-in-out;

    @keyframes gradient-transition {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}
