.wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 760px) {
    margin-top: 40px;
  }
}
.img_wrapper {
  width: 700px;
  display: flex;
  justify-content: space-between;
  img {
    max-width: 300px;
    object-fit: cover;
    margin-right: 50px;
    @media (max-width: 760px) {
      max-width: 150px;
    }
  }
  @media (max-width: 760px) {
    flex-wrap: wrap;
    font-size: 14px;
  }
}
.name {
  font-size: 40px;
  font-weight: 300;
  @media (max-width: 760px) {
    font-size: 20px;
  }
}
.year {
  font-size: 40px;
  font-family: serif;
  color: #4d1d25;
  &Small {
    font-family: serif;
    font-size: 18px;
  }
}
.prev,
.next {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 50px;
  padding: 0 15px;
  border-radius: 100px;
  transition: 0.5s;
  color: #696363;
  &:hover {
    box-shadow: 3px 5px 12px rgb(143, 16, 16), -3px -5px 12px rgb(143, 16, 16);
  }
}
