.wrapper {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_wrapper {
  display: flex;
  img {
    object-fit: cover;
    margin-right: 50px;
    @media (max-width: 760px) {
      width: 200px;
    }
    @media (min-width: 761px) {
      width: 350px;
    }
  }
  @media (max-width: 760px) {
    flex-wrap: wrap;
    font-size: 14px;
  }
}
.name {
  font-size: 30px;
  font-weight: 300;
  @media (max-width: 760px) {
    font-size: 20px;
  }
}
.year {
  font-size: 25px;
  font-family: serif;
  color: #4d1d25;
  @media (max-width: 760px) {
    font-size: 20px;
  }
}
.prev,
.next {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 50px;
  padding: 0 15px;
  border-radius: 100px;
  transition: 0.5s;
  color: #696363;
  @media (max-width: 760px) {
    font-size: 20px;
    padding: 0 5px;
  }
}
.description {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 300;
  @media (max-width: 760px) {
    font-size: 16px;
  }
}
